.header
{
  max-width: 100%;
  min-height: 120px;
  background-color: #497B8B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo__container
{
  max-width: 400px;
  height: 70px;
  margin: 25px 0px 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo__text
{
  color:#112d3d;
  text-align:left;
  vertical-align:text-top;
  font-size:24px;
  font-family:Krona One;
  line-height:auto;
  border-style:hidden;
  outline:none;
}
.language__container
{
  max-width: 150px;
  min-height: 30px;
  margin: 45px 50px 0px 0px;
}
.language
{
  color:#153c49;
  text-align:left;
  vertical-align:text-top;
  font-size:24px;
  font-family:Krona One;
  line-height:auto;
  border-style:hidden;
  outline:none;
}
.language:hover
{
  background: linear-gradient(to right top, #153c49, #0d748e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.main__container
{
  max-width: 100%;
  min-height: 505px;
  background-color: #20586A;
  display: flex;
  flex-direction: column;
}

.title__container
{
  margin-top: 40px;
  text-align: center;
}
.title__text
{
  color:#ffffff;
  filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  font-size:36px;
  font-family:Michroma;
  line-height:auto;
  border-style:hidden;
  outline:none;
}
.shortlink__container
{
  display: flex;
  justify-content: center;
  margin: 20px 0px 15px;
}
.shortlink__content
{
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text
{
  color:#ffffff;
  font-size:32px;
  font-family:Montserrat;
  line-height:auto;
  border-style:hidden;
  outline:none;
  width:171px;
}
.shortlink
{
  color:#ffffff;
  font-size:25px;
  font-family:Montserrat;
  line-height:auto;
  border-style:hidden;
  outline:none;
}
.copy__button
{
  width: 100px;
  min-height: 40px;
  background-color: #30747D;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.copy__button:hover
{
  background: radial-gradient(#30747D, #275b62);
}
.copy__button__text
{
  color:#ffffff;
  font-size:22px;
  font-family:Montserrat;
  line-height:auto;
  border-style:hidden;
  outline:none;
}
.input__container
{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input
{
    width:700px;
    height: 60px;
    border-radius: 50px;
    line-height: 1px;
    font-family: Michroma;
    font-size: 12px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: #d6dadc;
    display: block;
    padding-left: 18px;
    margin-top: 3px;
}
.text__container
{
  width: 300px;
  color:#ffffff;
  text-align:left;
  vertical-align:text-top;
  font-size:20px;
  font-family:Michroma;
  line-height:auto;
  border-style:hidden;
  outline:none;
}
.button__container
{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cut__button
{
  width: 250px;
  height: 50px;
  background-color: #41667C;
  border-radius: 40px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.button__container
{
  color:#ffffff;
  text-align:left;
  vertical-align:text-top;
  font-size:20px;
  font-family:Michroma;
  line-height:auto;
  border-style:hidden;
  outline:none;
}









.footer
{
  max-width: 100%;
  min-height: 70px;
  background-color: #113F4D;
}
.github__container
{
  padding-top: 30px;
}
.github__link
{
  color:#ffffff;
  text-align:left;
  vertical-align:text-top;
  font-size:20px;
  font-family:Montserrat;
  line-height:auto;
  border-style:hidden;
  outline:none;
}
